/* Overall container */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/Users/Anjali/Desktop/sdgp_frontend/src/assets/3.jpg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center;

    background-size: cover;
}

.login-container {
    background-color: rgba(0, 103, 115, 0.76);
    align-items: center;
    margin-left: 30%;
    align-content: center;
    display: flex;
    width: 90%;
    height: 90%;
}

/* Left Section */
.left-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-size: 24px;
    margin-top: 10px;
}

.welcome-text {
    font-size: 48px;
    margin-bottom: 10px;
}

.quote {
    font-size: 16px;
    margin-top: 20px;
    opacity: 0.8;
}

.social-icons a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
}

/* Right Section */
.right-section {
    flex: 1;
    width: 10%;
    margin-right: 5%;
    background-color: rgba(20, 20, 20, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 350px;
    text-align: center;
}

.sign-in-text {
    font-size: 32px;
    margin-bottom: 30px;
}

.form-group input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.sign-in-button {
    width: 100%;
    padding: 12px;
    background-color: #c9132e;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #fff;
    text-decoration: underline;
}
